@import 'variable';
@import 'mixins';

*{
    margin:0;
    padding:0;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

body{
    @include app($black, $white);
    &.dark{
        @include app($white, $black);
    }
}

